body{
    text-align: center;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    background: url(./images/background.jpg) no-repeat fixed;
    color: #fff; 
    font-size: medium;
    padding: 0px 5px;
    margin: 0px;
}
/***************** Header CSS ***********************/
header{
    height: 255px;
}
header img{
    height: 15em; 
}
header img#verse {
    height: 4em;
}
header div#absolutePara img{
    height: 13em;
   
}
header img:first-child{
    float: left;   
}
header img:last-child{
    float: right;    
}
header div#absolutePara{
    position: absolute;
    top: 64px;
    left: 40%;
     z-index: 3;
}
/***************** Header CSS End ***********************/

/***************** Main-Section CSS ***********************/


/*************************** Aside Content **********************************/
section#asideContent{
    position: absolute;
    top: 260px;
   
    width: 19%;
 
     font-size: small;
    z-index: 99;
}
ul{
    list-style-type: none;
    margin: 0px;
     padding: 0px;
}
section#asideContent div{
    
    padding: 1px ;
    margin-bottom: 5px;
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-color: rgba(0,0,0,0.5);
}

section#asideContent div h2{
    color: #fff;
    text-shadow:  1px 1px 2px #333;
    /*background-color: rgba(14,155,173,0.2);
    margin: 0px;
    padding: 15px 0px;*/
    
} 

section#asideContent div ul{
    
     text-align: left;
}
section#asideContent ul li{
    /*padding: 5px 10px;*/
    border: 1px outset #222;
    margin-bottom: 2px;
    


}
section#asideContent ul li{
    box-shadow: inset 0px 0px 1px 1px #333;
}



section#asideContent ul li a{
    /*padding: 4px 10px;*/
    display: inline-block;
    width: 100%;
    text-decoration: none;
    color: #fff;
}

section#asideContent ul li a:hover{
    color: #222;
    background-color: rgb(255,255,255);
}
section#asideContent ul li a span, section#asideContent div#aside_Mark span{
    display: inline-block;
    width: 85%;
    padding: 5px 5px;
    text-align: left;
    
}
 /*************************************************************/

 section#asideContent div#video_botton{
     border-radius: 20px;
 }
 section#asideContent div#video_botton a{
     text-decoration: none;
 }
 /*************************************************************/
 section#asideContent div#aside_Mark span{
     width: 72%;
 }
 section#asideContent div#aside_Mark{
     /*padding-left: 12%;*/
     color: #fff;   
 }
  /*************************************************************/
   section#asideContent div#social_Link{
       padding: 5px 0px;
      
   }
  section#asideContent div#social_Link span{
     /*width: 60%;*/
     
  }
   
  section#asideContent div#social_Link a{
      text-decoration: none;
      color: #fff;
      display: inline-block;
      width: 60%;
      height: 32px;
      margin: 2px 0px;
      padding-left: 10%;
      line-height: 32px;
      
}
  

section#asideContent div#social_Link a#link_1{
    background: url(./images/book2.png) no-repeat 5px;
    
}
section#asideContent div#social_Link a#link_2{
    background: url(./images/book1.png) no-repeat 5px;
}
section#asideContent div#social_Link a#link_3{
    background: url(./images/notepad3.png) no-repeat 5px;
}


section#asideContent div#social_Link a#link_1:hover{
    background: url(./images/h_book.png) no-repeat #fff 5px;
    color: #000;
}
section#asideContent div#social_Link a#link_2:hover{
    background: url(./images/h_book1.png) no-repeat #fff 5px;
    color: #000;
}
section#asideContent div#social_Link a#link_3:hover{
    background: url(./images/h_notepad.png) no-repeat #fff 5px;
    color: #000;
}

/*************************************************************/

section#asideContent div#social_Link2{
    padding-bottom: 10px;
}
section#asideContent div#social_Link2 span a{
    padding: 0px 5px;
}
/*************************** Aside Content End **********************************/

/**************************** Main Content *********************************/
section#Content{
   position: relative;
    width: 80%;
    /*height: 100px;*/
    background-color: rgba(0,0,0,0.5);
    margin-left: 20%;
    border-top-left-radius: 20px;

    border: 2px double #999;
    border-right: none;
    border-bottom: none;
}
section#Content div#mainContent{
    width: 74%;
}
section#Content div#mainContent article{
    clear: both;
}
section#Content div#mainContent article div{
    padding: 10px;
    text-align: left;
    line-height: 18px;
    font-size: .9em;
}
section#Content div#mainContent article span.readMore{
    color: #999;
}
section#Content div#mainContent article h1{
    background-color: rgba(14,155,173,0.2);
    padding: 15px 0px;
    margin: 0px;
}
section#Content div#mainContent article img{
    float: right;
}
section#Content div#mainContent article a{
    color: darkgoldenrod;
    display: inline-block;
}
section#Content div#mainContent article a.indent{
    text-indent: 5%;
}
section#Content div#mainContent footer{
    padding: 30px 0px 5px 0px ;
    font-size: small;
}
section#Content div#mainContent article:first-child h1:first-child{
    border-top-left-radius: 20px;
}
/**************************** Main Content Aside *********************************/
section#Content div#mainContent_aside{
    position: absolute;
    width: 25%;
    top: 0px;
    right: 0px;
    background-color: rgb(45,66,88);

    height: 100px;
}
